
/* Generales */
	* {box-sizing:border-box; }
	html{height:100%; }
	body{font-size:1em; color:#2c3f51; margin:0px; height:100%; font-family:"Open Sans",Helvetica,Arial,sans-serif; }


	/*contenedor */
	#contenido::before,
	#contenido::after,
	.clr::before,
	.clr::after{clear:both; content:" "; display:table; }

	#edit a{color:#00BAB8; }
	#edit a:hover{color:#00A6A5; }


	/* Selección */
	::selection{background:#73C2AD; color:#FFF; }
	::-moz-selection {background:#73C2AD; color:#FFF; }



/* Header */
	#main-header{background:#E3EFEF; line-height:48px; height:48px; right:0px; position:absolute; width:200px; z-index:100; }

/* Cuerpo */
	#main{display:block; padding-top:0px; height:100%; }
